on:
  pull_request:
  push:
    branches: [main]
  schedule:
    - cron: '0 0 * * 1,2,3,4,5'
  workflow_dispatch:

name: Investigate Runner

jobs:
  investigate-runner:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macOS-latest
    runs-on: ${{ matrix.os }}

    steps:

      - name: Show default R path
        if: always()
        run: |
          type R

      - name: Show default Rscript path
        if: always()
        run: |
          type Rscript

      - name: Show default brew path
        if: always()
        run: |
          type brew

      - name: Show brew installed packages
        if: always()
        run: |
          brew list

      - name: Show brew deps
        if: always()
        run: |
          brew deps -tree -installed
